{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>Property Details</h2>
    <form method="post" action="{% url 'update_property_details' property_details.APN %}">
        {% csrf_token %}
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">APN</th>
                    <td>{{ property_details.APN }}</td>
                </tr>
                <!-- Add new fields -->
                <tr>
                    <th scope="row">Owner Name</th>
                    <td><input type="text" name="owner_name" value="{{ property_details.owner_name }}"></td>
                </tr>
                <tr>
                    <th scope="row">Property State</th>
                    <td><input type="text" name="property_state" value="{{ property_details.Property_State }}"></td>
                </tr>
                <tr>
                    <th scope="row">Property County</th>
                    <td><input type="text" name="property_county" value="{{ property_details.Property_County }}"></td>
                </tr>
                <tr>
                    <th scope="row">Address</th>
                    <td><input type="text" name="address" value="{{ property_details.address }}"></td>
                </tr>
                <tr>
                    <th scope="row">City</th>
                    <td><input type="text" name="city" value="{{ property_details.city }}"></td>
                </tr>
                <tr>
                    <th scope="row">State</th>
                    <td><input type="text" name="state" value="{{ property_details.state }}"></td>
                </tr>
                <tr>
                    <th scope="row">Zip</th>
                    <td><input type="text" name="zip" value="{{ property_details.zip }}"></td>
                </tr>
                <tr>
                    <th scope="row">Acreage</th>
                    <td><input type="text" name="acreage" value="{{ property_details.acreage }}"></td>
                </tr>
                <tr>
                    <th scope="row">Market Value</th>
                    <td><input type="text" name="market_value" value="{{ property_details.market_value }}"></td>
                </tr>
                <tr>
                    <th scope="row">Assessed Value</th>
                    <td><input type="text" name="assessed_value" value="{{ property_details.assessed_value }}"></td>
                </tr>
                <tr>
                    <th scope="row">Offer Amount</th>
                    <td><input type="text" name="offer_amount" value="{{ property_details.offer_amount }}"></td>
                </tr>
                <tr>
                    <th scope="row">Tax Due</th>
                    <td><input type="text" name="tax_due" value="{{ property_details.tax_due }}"></td>
                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td><input type="email" name="email" value="{{ property_details.email }}"></td>
                </tr>
                <tr>
                    <th scope="row">Phone Number</th>
                    <td><input type="text" name="phone_number" value="{{ property_details.phone_number }}"></td>
                </tr>
                <tr>
                    <th scope="row">Comment</th>
                    <td><input type="text" name="comment" value="{{ property_details.comment }}"></td>
                </tr>
                <tr>
                    <th scope="row">Last Updated</th>
                    <td>{{ property_details.last_updated }}</td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
{% endblock content %}    